@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


.vehicle_add-admin{
    border-collapse: collapse;
    width: 95%;
    text-align: center;
    margin-left: 0%;
    
    
}
/* table{
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin-left: 15%;
    

} */

.head_vehicle{
    background-color: #f2f2f2;
    height: 50px;
    color: #000;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
    background-color: #D6EEEE;
}

td{
    padding: 3px;
}

.add_vehicle{
    width: 350px;
    padding: 10px;
    background-color: #0000ff;
    margin: 0% 32% 2% 0%;
    border-radius: 6px;
}

.add_vehicle a{
    text-decoration: none;
    color: #fff;
}
.add_vehicle a:hover{
    text-decoration: underline;

}

.button{
    width: 180px;
    padding: 5px;
    background-color: 	#d9534f;
    border:1px solid #000;
    border-radius: 5px;

}

.button a{
    color: #fff;
    text-decoration: none;
}

.button a:hover{
    text-decoration: underline;
}

/* form */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    /* height: 100%; */
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* form */

  .wrapper-two{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.vehicle{
    width: 265px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
}

.parking-login{
    width: 160px;
    padding: 8px;
    background-color: #8000FF;
    border: 1px solid #8000FF;
    border-radius: 5px;
    color: #ffff;
}
.parking{
    width: 385px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
}
.parking-status{
    width: 538px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
}
.parking-button{
    margin-right: 4%;
}
.button_wrapper{
    display: flex;
    gap: 10px;
}
.vehicle-info-wrapper{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer{
    width: 100%;
    height: 261px;
    background-color: #28282B;
    margin-top: 2%;
}
.error{
    color: red;
}
select .category{
    width: 538px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
}
