* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.vehicle_park-admin {
    border-collapse: collapse;
    width: 95%;
    text-align: center;
    margin-left: 0%;
}

.park-vehicle {
    background-color: #f2f2f2;
    height: 50px;
    color: #000;
}

td {
    padding: 3px;
}

tr {
    width: 98%;
    height: 65px;

}

.add-parking {
    width: 350px;
    padding: 10px;
    background-color: #84a2d9;
    margin: 1% 2% 2% 0%;
    border-radius: 6px;
}

.add-parking a {
    text-decoration: none;
    color: #fff;
}

.add-parking a:hover {
    text-decoration: underline;

}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59vh;
}

.parking {
    width: 265px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
}

.fl_wrapper {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

/* .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1%;
    padding: 12px;
} */
.button-parking{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 10px;
    margin-top: 1%;
    padding: 12px;

}
.footer-parking_wrapper{
    margin-left: 15%;
    margin-top: 4%;
    background-color: #D9D9D9;
    height: 38px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
}

 .parking-login {
    width: 160px;
    padding: 8px;
    background-color: #8000FF;
    border: 1px solid #8000FF;
    border-radius: 5px;
    color: #ffff;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #008000;
}
.parking-status-park{
    width: 538px;
    padding: 8px;
    /* border: 1px solid #000; */
    border-radius: 5px;
}

.error {
    color: #ff0000;
}