@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper-start-end{
    margin-top: 6%;
}
.wrapper-all{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
    max-height: 325px;
}

.start-end{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* margin-top:11%; */
    margin-bottom: 15%;
}


.entry-time{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

.exit-time{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}
.datetime-submit{
    width: 250px;
    padding: 8px;
    background-color: #8000FF;
    border: 1px solid #8000FF;
    border-radius: 5px;
    color: #ffff;
}
.datetime-submit:hover{
    text-decoration-color: underline;
}
/* for generating error */
.error{
    color: #ff0000;
}
.footer-duration{
    margin-top: 1%;
}




