*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    gap: 18px;
}
.f_input{
    width: 190px;
    padding: 10px;
    border-radius: 4px;

}
.l_input{
    width: 190px;
    padding: 10px;
    border-radius: 4px;
}

.fl-wrapper{
    display: flex;
    gap: 15px;
}

.email_input{
    width: 395px;
    padding: 10px;
    border-radius: 4px;
}
.phone_input{
    width: 395px;
    padding: 10px;
    border-radius: 4px;

}
.uname_input{
    width: 395px;
    padding: 10px;
    border-radius: 4px;

}

.join-date_input{
    width: 395px;
    padding: 10px;
    border-radius: 4px;

}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit_input{
    width: 280px;
    padding: 8px;
    border-radius: 5px;
}


