*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59vh;
}

.parking{
    width: 265px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
}
.fl_wrapper{
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 7%;
}
.parking-login{
    width: 160px;
    padding: 8px;
    background-color: #8000FF;
    border: 1px solid #8000FF;
    border-radius: 5px;
    color: #ffff;
}