*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#payment-button{
    color: #000;
    width: 350px;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.khalti-img{
    width: 180px;
}