@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.parkingbox_wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;

}

.box {
    height: 102px;
    /* background-color: #f2f2f2; */
    text-align: center;
    display: flex;
    width: 137px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
}
.box-wrapper{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 6%;
}
.register-vehicle{
    display: flex;
    flex-direction: column;
    gap: 37px;
    margin-top: 6%;
}
.para-register{
    text-align: center;
}

.parking-header{
    margin-top:4%;
}

.registered-vehicle{
    width: 265px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
}

.footer-user-parking{
    width: 100%;
    margin-top: 6%;
}
.parking-lot{
    color: #000;
    text-decoration: none;

}
.parking-lot:hover{
    text-decoration: underline;
}
.button-remove{
    width: 160px;
    padding: 8px;
    /* background-color: #8000FF;
    border: 1px solid #8000FF; */
    border-radius: 5px;
    color: #000;
}

.vehicle_registered{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.button-extract{
    width: 160px;
    padding: 8px;
    background-color: #8000FF;
    border: 1px solid #8000FF;
    border-radius: 5px;
    color: #ffff;
    margin-top: 40px;
    margin-left: 69px;
    display: flex;
    justify-content: center;
}
.select-option{
    color: #fff;
    text-decoration: none;
}

.select-option:hover{
    text-decoration: underline;

}